.header {
	width: 100vw;
	height: 70px;
	background-color: #505467;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header > .containerLogo {
	padding-left: 30px;
	width: 15%;
}

.header > .containerLogo .logo {
	width: 150px;
	height: 70px;
}

.header > .containerBtns {
	width: 80%;
}

.header > .containerBtns > .btn {
	padding: 5px 30px;
	background-color: white;
	border-radius: 10px;
	text-decoration: none;
	color: #0fae4b;
	margin: 0 10px;
}

.header > .containerBtns > .btn:hover {
	background-color: #0fae4b;
	color: white;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header > .containerOptions {
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 30px;
}

.header > .containerOptions > .btn {
	padding: 5px 30px;
	background-color: white;
	border-radius: 10px;
	text-decoration: none;
	color: #0fae4b;
	margin: 0 10px;
}

.header > .containerOptions > .btn:hover {
	background-color: #0fae4b;
	color: white;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
