//breackcumb
.titleSection {
	width: 100%;
	padding: 15px 30px;
	padding-bottom: 0px;
	padding-left: 30px;
	display: flex;
}

.titleSection > .title {
	color: #505467;
	font-size: 16px;
	padding-left: 5px;
	font-weight: 600;
}

//imput Search
.rowImputSearch {
	width: 100%;
	padding: 5px 30px;
	padding-top: 0px;
}

.rowImputSearch > .containerInputSearch {
	width: 300px;
	height: 50px;
	background-color: #505467;
	border: solid 1px white;
	border-radius: 10px;
	margin-bottom: 10px;
}

.rowImputSearch > .containerInputSearch > .inputSearch {
	width: 90%;
	outline: none;
	border: 0;
	height: 45px;
	background-color: rgba(80, 84, 103, 0.2);
	border: 0;
	color: white;
	margin-left: 20px;
}

.rowImputSearch > .containerInputSearch > .inputSearch::placeholder {
	color: white;
}
