.containerHome > .containerItemUser {
	width: calc(100% - 60px);
	display: flex;
	flex-direction: column;
	align-self: center;
	padding-bottom: 20px;
}

.containerHome > .containerItemUser > .containerItem {
	width: 100%;
	background-color: #505467;
	display: flex;
	flex-direction: row;
	border-radius: 10px;
	padding: 15px 20px;
	margin: 5px 0px;
}

.containerHome > .containerItemUser > .containerItem > .name {
	width: 40%;
	display: flex;
	justify-content: flex-start;
	padding-left: 40px;
}

.containerHome > .containerItemUser > .containerItem > .name > p {
	color: white;
	margin-bottom: 0px;
}

.containerHome > .containerItemUser > .containerItem > .level {
	width: 10%;
	display: flex;
	justify-content: center;
}

.containerHome > .containerItemUser > .containerItem > .level > p {
	color: white;
	margin-bottom: 0px;
}

.containerHome > .containerItemUser > .containerItem > .coint {
	width: 10%;
	display: flex;
	justify-content: center;
}

.containerHome > .containerItemUser > .containerItem > .coint > p {
	color: white;
	margin-bottom: 0px;
}

.containerHome > .containerItemUser > .containerItem > .containerBtn {
	width: 40%;
	display: flex;
	justify-content: center;
}

.containerHome > .containerItemUser > .containerItem > .containerBtn > .btn {
	padding: 5px 30px;
	background-color: #0fae4b;
	border-radius: 10px;
	text-decoration: none;
	color: white;
	margin: 0 10px;
	cursor: pointer;
}

.containerHome > .containerItemUser > .containerItem p {
	align-self: center;
}
