body > #app {
	height: 100vh;
}

body > #app > .containerNofount {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(33, 33, 62);
	background: radial-gradient(
		circle,
		rgba(33, 33, 62, 1) 0%,
		rgba(15, 15, 30, 1) 100%
	);
}

body > #app > .display {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

body > #app > .display > a {
	width: 250px;
	border: 0;
	outline: none;
	background-color: white;
	color: #0fae4b;
	font-weight: 400;
	font-size: 14px;
	font-size: 20px;
	padding: 5px 50px;
	border: solid 1px white;
	border-radius: 10px;
	text-decoration: none;
	text-align: center;
	transition: 1s;
}

body > #app > .display > a:hover {
	background-color: #0fae4b;
	color: white;
	border: solid 1px #0fae4b;
}
